<!-- Von Lukas bearbeitet -->
<header class="content__header">
  <div class="header__left">
    <h1 class="title">Leistungs&uuml;bersicht</h1>
    <div class="student-chip">
      <img
        *ngIf="student.avatarUrl && !imgFailed; else headerInitial"
        class="avatar lg"
        [src]="student.avatarUrl"
        [alt]="student.name"
        (error)="markImgFailed()"
      />
      <ng-template #headerInitial>
        <div class="avatar lg">{{ student.name.charAt(0) }}</div>
      </ng-template>
      <div class="info">
        <div class="name">{{ student.name }}</div>
        <div class="class">Klasse {{ student.class }}</div>
      </div>
      <div class="avg-pill" *ngIf="average as avg">
        <span class="avg-label">Ø gesamt</span>
        <div class="avg-value">{{ avg | number: '1.1-1' }}</div>
        <div class="avg-trend" *ngIf="trend">{{ trend }}</div>
      </div>
    </div>
  </div>
</header>
